* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}



.notes {
  display: flex;
  flex-wrap: wrap;
  margin-block: 5px;
  margin-inline: 10px;
  gap:4px;

}

.note {
  width: 130px;
  background-color: #e2dddd;
  border-radius: 5px;
  padding: 3px;
  color: rgb(2, 2, 46);
}

.create_note{
  display: flex;
  gap:12px;
  padding-inline: 20px;
  padding-block: 15px;
  /* padding:30px; */


}
input{
  padding:5px;
    border-radius: 4px;
}
button{
  padding: 4px;
    border-radius: 4px;
}